* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(243, 247, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 2s ease;
}

#toggle {
    display: none;
}

#label_toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: rebeccapurple;
}

.dark {
    background-color: #333;
    color: white;
    transition: all 2s ease;
}

.contenedor {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.contenedor .left_Side {
    position: relative;
    background: #0373b4;
    padding: 40px;
}

.contenedor .right_Side{
    position: relative;
    background: lightblue;
    padding: 40px;
}

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.perfil .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.perfil .imgBx img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.perfil h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.informacion_de_contacto {
    padding-top: 40px;
}

.titulo {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.informacion_de_contacto ul {
    position: relative;
}

.informacion_de_contacto ul li {
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.informacion_de_contacto ul li .icon {
    display: inline-block;
    width: 20px;
    font-size: 20px;
    color: greenyellow;
}

.informacion_de_contacto ul li span {
    color: #fff;
    font-weight: 300;
}


.informacion_educativa li {
    margin-bottom: 15px;
}

.informacion_educativa h5 {
    color: #192227;
    font-weight: 500;
}

.informacion_educativa h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.informacion_educativa h4 {
    color: #fff;
    font-weight: 300;
}


.informacion_de_idiomas {
    color: #fff;
    font-weight: 300;
}

.informacion_de_idiomas .porcentaje {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.informacion_de_idiomas .porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #7dcef6;
}

.acerca_de {
    margin-bottom: 50px;
}

.acerca_de:last-child {
    margin-bottom: 0;
}

.titulo2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.acerca_de .caja {
    display: block;
    margin: 20px 0;
}

.acerca_de .caja .año {
    min-width: 150px;
}

.acerca_de .caja .año h5 {
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
}

.acerca_de .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.habilidades .caja {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.habilidades .caja h4 {
    text-transform: uppercase;
    color: grey;
    font-weight: 500;
}

.habilidades .caja .porcentaje {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.habilidades .caja .porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: blueviolet;
}

@media (max-width: 1000px) {
    .contenedor {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 600px) {
    .acerca_de .caja {
        flex-direction: column;
    }
    .acerca_de .caja .año {
        margin-bottom: 5px;
    }
}

.acerca_de .caja {
    grid-template-columns: repeat(1,1fr);
}
